.topic-container {
  padding: 100px 0 100px;

  .wrapper {
    flex-direction: column;

    .topic {
      h3 {
        color: $color-primary;
        font-size: 1.2rem;
      }

      .title {
        color: $color-primary;
        font-size: 1.7rem;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid $color-primary;
      }

      .subtitle {
        font-size: 1.4rem;
        margin: 30px 0;
        position: relative;
        display: inline-block;

        &:before {
          content: "";
          position: absolute;
          bottom: -30%;
          left: 0;
          width: 120%;
          height: 1px;
          background-color: #fed7a5;
        }
      }

      p {
        line-height: 1.8;
        margin-bottom: 20px;
      }

      .text_with_image {
        float: left;

        img {
          float: right;
          height: 300px;
          object-fit: cover;
          border-radius: 5px;
          margin-left: 30px;
          box-shadow: 8px 8px 24px 0px rgb(16 16 16);
        }
      }

      ul {
        margin: 20px 0 30px 0;
      }

      li {
        line-height: 1.5;
      }

      ul > li {
        list-style: none;
        margin: 0 0 10px 0;
        position: relative;

        .bi-check {
          position: absolute;
          left: -33px;
          top: 0;
          color: $color-success;
          margin-right: 10px;
          width: 25px;
          height: auto;
        }

        .bi-x {
          position: absolute;
          left: -30px;
          top: 3px;
          color: $color-error;
          margin-right: 13px;
          width: 20px;
          height: auto;
        }

        .bi-dash {
          position: absolute;
          left: -30px;
          top: 3px;
          color: $color-primary;
          margin-right: 13px;
          width: 20px;
          height: auto;
        }

        .numbers {
          position: absolute;
          left: -30px;
          top: -10px;
          color: $color-primary;
          margin-right: 13px;
          font-size: 1.6rem;
        }

        .bi-circle-fill {
          position: absolute;
          left: -30px;
          top: 4px;
          color: $color-primary;
          margin-right: 13px;
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .topic-container {
    .wrapper {
      .topic {
        .text_with_image {
          img {
            height: 200px;
            margin-bottom: 20px;
          }
        }

        .subtitle {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .topic-container {
    .wrapper {
      .topic {
        .text_with_image {
          float: none;
          display: flex;
          flex-direction: column;

          img {
            float: none;
            width: 80%;
            height: 250px;
            margin: 20px auto 20px auto;
          }
        }
      }
    }
  }
}
