.topics-container {
  padding: 50px 0 100px;

  .wrapper {
    flex-direction: column;

    .topics {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .topic {
        margin: 20px 20px 120px;
        flex: 0 calc(50% - 40px);
        min-width: 200px;
        position: relative;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.05);

          .description p {
            color: $color-light;
          }
        }

        img {
          width: 70%;
          height: 250px;
          object-fit: cover;
          border-radius: 5px;
        }

        .description {
          padding: 15px;
          background-color: #211f29;
          border-radius: 5px;
          box-shadow: 8px 8px 24px 0px rgb(16 16 16);
          position: absolute;
          bottom: -10%;
          left: 50%;
          right: 0;
          transform: translate(-50%, 50%);
          width: 80%;
          z-index: 1;

          h3 {
            margin-bottom: 10px;
            font-size: 1.2rem;
            color: $color-primary;
          }

          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1199.99px) {
  .topics-container {
    .wrapper {
      .topics {
        .topic {
          img {
            width: 80%;
          }
        }
      }
    }
  }
}

@media (max-width: 991.99px) {
  .topics-container {
    .wrapper {
      .topics {
        .topic {
          flex: 0 calc(100% - 40px);

          img {
            width: 70%;
          }
        }
      }
    }
  }
}

@media (max-width: 767.99px) {
  .topics-container {
    .wrapper {
      .topics {
        .topic {
          margin: 0 0 120px;
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .topics-container {
    .wrapper {
      .topics {
        .topic {
          img {
            width: 90%;
          }

          .description {
            width: 90%;
          }
        }
      }
    }
  }
}

@media (max-width: 485px) {
  .topics-container {
    .wrapper {
      .topics {
        .topic {
          img {
            height: 200px;
          }
        }
      }
    }
  }
}
