.header {
  height: 96vh;
  background-image: url("../../images/home/header_4k.webp");

  .promotion {
    position: absolute;
    top: 80%;
    left: 77%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;

    img {
      width: 80%;
      height: auto;
      rotate: 12deg;
      transition: $transition;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &::before {
    opacity: 55%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 2600px) {
  .header {
    background-image: url("../../images/home/header_2k.webp");
  }
}

@media (max-width: 1920px) {
  .header {
    background-image: url("../../images/home/header_1920.webp");
  }
}

@media (max-width: 992px) {
  .header .promotion {
    top: 85%;
    left: 76%;

    img {
      width: 90%;
    }
  }
}

@media (max-width: 768px) {
  .header {
    background-image: url("../../images/home/header_mobile.webp");
    background-attachment: scroll;
    height: 700px;

    .promotion {
      top: 85%;
      left: 74%;
    }
  }
}

@media (max-width: 576px) {
  .header .promotion {
    top: 85%;
    left: 72%;

    img {
      width: 140px;
      height: auto;
    }
  }
}
