.header {
  height: 100vh;
  background-image: url("../../images/header_4k.webp");

  &::before {
    opacity: 55%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 2600px) {
  .header {
    background-image: url("../../images/header_2k.webp");
  }
}

@media (max-width: 1920px) {
  .header {
    background-image: url("../../images/header_1920.webp");
  }
}

@media (max-width: 1600px) {
  .header {
    background-image: url("../../images/header_1600.webp");
  }
}

@media (max-width: 1000px) {
  .header {
    background-image: url("../../images/header_mobile.webp");
    background-attachment: scroll;
    height: 700px;
  }
}

@media (max-width: 768px) {
  .header {
    background-image: url("../../images/header_mobile_720.webp");
  }
}
