.myService {
  position: relative;
  background-color: $color-background-darker;

  .wrapper {
    flex-direction: column;

    .service-info {
      display: flex;
      justify-content: space-between;
      padding: 50px 0;

      .service-info-title {
        flex: 1;

        h3 {
          font-size: 2.5rem;
          color: $color-light;
          letter-spacing: 3px;
        }

        p {
          font-size: 1.3rem;
          color: $color-primary;
          letter-spacing: 2px;
        }
      }

      .service-info-desription {
        flex: 1.5;
        padding-left: 20px;

        p {
          color: $color-grey;
        }

        & > .hide {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.7s ease-in-out;
        }

        .myService-button {
          margin: 20px auto;
        }
      }
    }

    .service-container {
      display: flex;
      flex-direction: column;
      max-width: 2000px;
      margin: 100px auto;
      position: relative;

      .cart {
        flex: 1;
        display: flex;
        position: relative;
        min-height: 170px;
        border-top: 1px solid $color-grey;
        cursor: pointer;

        &:last-child {
          border-bottom: 1px solid $color-grey;
        }

        .cart-title {
          flex: 1;
          align-items: center;
          display: flex;

          h3 {
            color: $color-grey;
            font-size: 2.2rem;
            font-weight: $font-bold;
            letter-spacing: 3px;
            padding-left: 10px;
            line-height: 45px;

            .dot-hide {
              opacity: 0;
              color: $color-primary;
              font-size: 3.5rem;
            }
          }
        }

        .cart-description {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          opacity: 0;

          p {
            color: $color-grey;
            font-size: 1rem;
            margin: 0;
            margin-left: 40px;
          }
        }

        .cart-button {
          flex: 0.2;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
        }

        &:hover {
          .cart-title {
            h3 {
              font-size: 3rem;
              margin-left: 20px;
              transition: $transition;
              color: $color-light;

              .dot-hide {
                opacity: 1;
                transition: $transition;
              }
            }
          }
          .cart-description {
            opacity: 1;
            transition: $transition;
          }

          .image {
            img {
              opacity: 1;
              transition: $transition;
              z-index: 2;
            }
          }

          .myService-cart-button {
            right: 22%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .myService {
    .container .wrapper {
      .myService-title {
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .myService .container {
    .wrapper {
      .myService-title {
        h2 {
          font-size: 1.3rem;
        }
      }
    }
  }
}
