.myService {
  position: relative;
  background-size: cover;
  padding-bottom: 120px;
  background-image: url("../../images/shutterstock_4k.webp");
  background-position: right 50% top 0;
  background-attachment: fixed;

  .container {
    position: relative;

    .section-title .background-text {
      color: $color-background-text-2;
    }
  }

  .wrapper {
    flex-direction: column;

    .myService-title {
      margin-top: 50px;
      text-align: center;

      h2 {
        font-size: 2rem;
        font-weight: 400;
        color: $color-primary;
        text-transform: uppercase;
      }
    }

    .myService-container {
      margin-top: 50px;
      display: flex;
      flex-wrap: nowrap;

      .myService-cart {
        display: flex;

        .cart-header {
          background-color: $color-background-cart;
          min-height: 350px;
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $color-background-cart;
          cursor: pointer;
          transition: background-color 0.3s, border 0.3s;

          h3 {
            transform: rotate(-90deg);
            white-space: nowrap; /* Aby uniknąć zawijania tekstu */

            .number {
              font-size: 2rem;
              font-weight: 400;
              color: $color-primary;
              margin-right: 10px;
            }
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          width: 0;
          height: 450px;
          opacity: 0;
          background-color: $color-background-cart;
          transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
          justify-content: space-between;

          h3 {
            font-size: 5rem;
            font-weight: 400;
            color: $color-primary;
            text-transform: uppercase;
            margin-bottom: 20px;
          }

          p {
            margin-left: 50%;
          }

          button {
            width: fit-content;
            margin-left: auto;
          }
        }
      }

      .active {
        .content {
          width: auto;
          opacity: 1;
          padding: 30px;
        }

        .cart-header {
          background-color: rgba($color-primary, 0.2);
          border: 1px solid $color-primary;
        }
      }
    }
  }
}

@media (max-width: 2600px) {
  .myService {
    background-image: url("../../images/shutterstock_2k.webp");
  }
}

@media (max-width: 1920px) {
  .myService {
    background-image: url("../../images/shutterstock_1920.webp");
  }
}

@media (max-width: 1600px) {
  .myService {
    background-image: url("../../images/shutterstock_1600.webp");
    background-position: right 50% top 0;
  }
}

@media (max-width: 1200px) {
  .myService {
    background-image: url("../../images/shutterstock_1280.webp");
    background-position: right 50% top 0;
    .wrapper {
      .carts-container .cart {
        .text {
          h3 {
            font-size: 1.2rem;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .myService {
    background-image: url("../../images/shutterstock_mobile_920.webp");
    .wrapper {
      .carts-container {
        flex-direction: column;
        margin-top: 50px;

        .cart {
          margin: 0;
          margin-bottom: 20px;

          .picture {
            margin-bottom: 20px;
            img {
              width: 20%;
              height: 20%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .myService {
    background-image: url("../../images/shutterstock_mobile_720.webp");
  }
}
