.mySkills {
  background-color: $color-background-darker;
  padding-bottom: 200px;

  .container {
    position: relative;
  }

  .wrapper {
    flex-direction: column;

    .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 200px;

      &::after {
        content: "";
        position: absolute;
        top: 41%;
        right: 0;
        transform: translateY(-50%);
        height: 71%;
        width: 60%;
        background-color: $color-primary;
      }

      .row {
        display: flex;
        margin-bottom: 50px;
        width: 100%;

        .pictures {
          flex: 1;
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;

          img {
            max-width: 45%;
            max-height: 45%;
            object-fit: contain;
            margin: 5px;
            z-index: 1;
            padding: 5px;
          }
        }

        .last-picture img {
          max-width: 80%;
          max-height: 80%;
          object-fit: contain;
          margin: 5px;
          z-index: 1;
          padding: 5px;
        }

        .text {
          background-color: $color-background-dark;
          flex: 3;
          padding: 50px;
          border-radius: 5px;
          z-index: 1;

          p {
            color: $color-grey;
            line-height: 2;
          }
        }
      }

      .left {
        flex-direction: row;

        .text {
          text-align: right;
        }
      }

      .right {
        flex-direction: row-reverse;

        .text {
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .mySkills .wrapper .skills-container .row .pictures img {
    max-width: 30%;
    max-height: 30%;
  }
}

@media (max-width: 992px) {
  .mySkills .wrapper .skills-container .row .pictures img {
    max-width: 50%;
    max-height: 50%;
  }
}

@media (max-width: 768px) {
  .mySkills {
    margin-top: 100px;
    padding-bottom: 100px;

    .wrapper .skills-container {
      margin-top: 50px;

      &::after {
        display: none;
      }

      .row {
        flex-direction: column;
        align-items: center;
        width: unset;

        .pictures {
          align-items: center;

          img {
            max-width: 20%;
          }
        }

        .last-picture img {
          max-width: 50%;
        }

        .text {
          padding: 25px;
          position: relative;
          z-index: unset;

          &::before {
            content: "";
            position: absolute;
            top: 4%;
            left: -2%;
            height: 100%;
            width: 60%;
            background-color: #fed7a5;
            z-index: -1;
          }
        }

        .text-2::before {
          top: -4%;
          right: -2%;
          width: 30%;
          left: unset;
        }

        .text-3::before {
          top: -4%;
          left: 22%;
          height: 108%;
          width: 40%;
        }

        .text-4::before {
          height: 109%;
          width: 40%;
          top: -4%;
          left: -2%;
        }
      }

      &::after {
        top: 51%;
        height: 82%;
        width: 69%;
      }
    }
  }
}

@media (max-width: 576px) {
  .mySkills {
    margin-top: 30px;
    padding-bottom: 30px;

    .wrapper .skills-container .row .pictures {
      margin-bottom: 20px;
    }

    .wrapper .skills-container .row .pictures img {
      max-width: 25%;
      max-height: 80%;
    }

    .wrapper .skills-container .row .last-picture img {
      max-width: 40%;
    }
  }
}
