.header {
  height: 100vh;
  background-image: url("../../images/header_4k.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-dark;
    opacity: 55%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .navbar {
    z-index: 2;

    .navbar-brand img {
      width: 150px;
    }

    .nav-item {
      text-transform: uppercase;
      text-shadow: 0 0 10px rgba($color-dark, 0.5);
      letter-spacing: 2px;
      margin-right: 1rem;

      a {
        color: $color-light;
        font-size: 1.2rem;
        font-weight: 400;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  .title_box {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .welcome-text {
      color: $color-light;
    }

    .title {
      font-family: $font-title;
      letter-spacing: 10px;
      color: $color-light;
      font-size: 5rem;
      font-weight: 700;

      .first-letter {
        color: $color-primary;
        font-size: 6rem;
      }
    }

    .subtitle {
      display: block;
      color: $color-light;
      font-size: 1.5rem;
      letter-spacing: 2px;
      margin-top: 1.5rem;

      #description-main {
        color: $color-primary;
      }
    }
  }
}

@media (max-width: 2600px) {
  .header {
    background-image: url("../../images/header_2k.webp");
  }
}

@media (max-width: 1920px) {
  .header {
    background-image: url("../../images/header_1920.webp");
  }
}

@media (max-width: 1600px) {
  .header {
    background-image: url("../../images/header_1600.webp");
    .navbar {
      .navbar-brand img {
        width: 100px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .header {
    background-image: url("../../images/header_1280.webp");
  }
}

@media (max-width: 1000px) {
  .header {
    background-image: url("../../images/header_mobile.webp");
    background-attachment: scroll;

    .title_box {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .subtitle {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    background-image: url("../../images/header_mobile_720.webp");
    .navbar {
      .navbar-brand img {
        width: 80px;
      }
    }

    .title_box {
      padding-left: 20px;

      .title {
        font-size: 4rem;
        letter-spacing: 5px;

        .first-letter {
          font-size: 5rem;
        }
      }

      .subtitle {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    .navbar {
      .navbar-brand img {
        width: 60px;
      }
    }

    .title_box {
      .title {
        font-size: 3rem;
        letter-spacing: 5px;

        .first-letter {
          font-size: 4rem;
        }
      }

      .subtitle {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    .title_box {
      .title {
        font-size: 2rem;
        letter-spacing: 5px;

        .first-letter {
          font-size: 3rem;
        }
      }

      .subtitle {
        font-size: 1rem;
      }
    }
  }
}
