.site-creation-info {
  position: relative;
  background-size: cover;
  padding-bottom: 100px;

  .container {
    position: relative;
  }

  .wrapper {
    flex-direction: column;

    .services-container {
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .service {
        padding: 40px;
        margin: 20px;
        flex: 1;
        border-radius: 5px;
        color: $color-light;

        h3 {
          font-size: 1.8rem;
          font-weight: $font-bold;
          flex: 1;
          color: $color-primary;
          text-align: center;
          margin: 10px 0 40px 0;
        }

        p {
          line-height: 1.8;
          font-size: 1rem;
          flex: 2;
        }

        p:nth-of-type(2) {
          margin-top: 30px;
          text-align: center;
          font-size: 1.2rem;
        }

        p:nth-of-type(3) {
          margin-top: 50px;
          text-align: center;
          font-size: 1.2rem;
        }

        p:last-of-type {
          margin-top: 50px;
          text-align: center;
          font-size: 1.2rem;
          color: $color-primary;
        }

        ul {
          margin-top: 20px;
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: column;

          li {
            margin-bottom: 10px;
            align-items: center;
            display: flex;

            .list_title {
              flex: 1;
              font-weight: $font-bold;
              font-size: 1.2rem;
              margin-right: 30px;
            }

            .list_descryption {
              flex: 2;
            }
          }
        }
      }
    }

    .carts-container {
      margin-top: 20px;

      .cart {
        background-color: $color-background-cart;
        padding: 20px;
        margin: 20px;
        flex: 1;
        border-radius: 5px;
        color: $color-light;
        display: flex;
        min-height: 700px;

        .picture {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;

          img {
            width: 60%;
            height: 60%;
            object-fit: contain;
          }
        }

        .text {
          text-align: center;
          display: flex;
          flex-direction: column;
          flex: 2;

          h3 {
            font-size: 1.5rem;
            font-weight: $font-bold;
            flex: 1;
            color: $color-primary;
            text-align: center;
            margin: 10px 0 20px 0;
          }

          p {
            line-height: 1.8;
            font-size: 1rem;
            flex: 2;
          }
        }
      }
    }
  }
}

@media (max-width: 2600px) {
  .myService {
    background-image: url("../../images/shutterstock_2k.webp");
  }
}

@media (max-width: 1920px) {
  .myService {
    background-image: url("../../images/shutterstock_1920.webp");
  }
}

@media (max-width: 1600px) {
  .myService {
    background-image: url("../../images/shutterstock_1600.webp");
  }
}

@media (max-width: 1200px) {
  .myService {
    background-image: url("../../images/shutterstock_1280.webp");
    .wrapper {
      .carts-container .cart {
        .text {
          h3 {
            font-size: 1.2rem;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .myService {
    background-image: url("../../images/shutterstock_mobile_920.webp");
    .wrapper {
      .carts-container {
        flex-direction: column;
        margin-top: 50px;

        .cart {
          margin: 0;
          margin-bottom: 20px;

          .picture {
            margin-bottom: 20px;
            img {
              width: 20%;
              height: 20%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .myService {
    background-image: url("../../images/shutterstock_mobile_720.webp");

    .section-title {
      .background-text {
        font-size: 3.5rem;
      }
    }
  }
}
