.portfolio {
  background-color: $color-background-darker;
  padding-bottom: 200px;

  .container {
    position: relative;
  }

  .wrapper {
    flex-direction: column;

    .projects-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 100px;

      .row {
        display: flex;
        position: relative;
        margin-bottom: 150px;

        .image-box {
          overflow: hidden;
          transition: transform 0.5s ease-in-out;
          z-index: 1;
          max-height: 800px;
          width: 600px;
          position: relative;

          img {
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
          }

          .button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-background-dark;
            color: $color-light;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: $font-bold;
            transition: all 0.5s ease-in-out;
            z-index: 1;

            &:hover {
              background-color: $color-light;
              color: $color-dark;
            }
          }
        }
      }

      .text-box {
        padding: 40px;
        border-radius: 5px;
        background-color: $color-background-dark;
        color: $color-light;
        display: flex;
        flex-direction: column;
        max-width: 600px;
        z-index: 1;
        position: absolute;

        .hidden-image {
          display: none;
        }

        h3 {
          font-size: 1.3rem;
          font-weight: $font-bold;
          margin-bottom: 10px;
        }

        p {
          font-size: 0.9rem;
        }

        h4 {
          font-size: 1.1rem;
          font-weight: $font-bold;
          margin-top: 10px;
        }
      }
    }

    .left {
      flex-direction: row;

      .image-box {
        margin-left: 50px;
      }

      .text-box {
        text-align: left;
        right: 15%;
        bottom: -14%;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -60%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 20%;
        height: 100%;
        background-color: $color-primary;
      }
    }

    .right {
      flex-direction: row-reverse;

      .image-box {
        margin-right: 50px;
      }

      .text-box {
        text-align: right;
        left: 15%;
        bottom: -14%;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -30%;
        right: -10%;
        transform: translate(-50%, -50%);
        width: 20%;
        height: 100%;
        background-color: $color-primary;
      }
    }
  }
}

@media (max-width: 1400px) {
  .portfolio {
    .wrapper {
      .projects-container {
        .row {
          .text-box {
            padding: 30px;
          }
        }
      }

      .left {
        .text-box {
          right: 10%;
          bottom: -10%;
        }
      }

      .right {
        .text-box {
          left: 10%;
          bottom: -10%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .portfolio {
    .section-title {
      .background-text {
        font-size: 6.5rem;
      }
    }

    .wrapper {
      .projects-container {
        .row {
          margin: 20px;

          .image-box {
            display: none;
          }

          .text-box {
            position: unset;
            max-width: unset;
            display: block;
            margin: 10px;

            .hidden-image {
              display: block;
              width: 30%;
            }
          }
        }

        .left {
          .text-box {
            .hidden-image {
              float: left;
              margin: 0 20px 20px 0;
            }
          }

          &::before {
            width: 60%;
            left: 30%;
            bottom: -50%;
          }
        }

        .right {
          flex-direction: unset;

          .text-box {
            .hidden-image {
              float: right;
              margin: 0 0 20px 20px;
            }
          }

          &::before {
            width: 60%;
            right: -32%;
            bottom: -50%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .portfolio {
    .section-title {
      .background-text {
        font-size: 5.5rem;
      }
    }

    .wrapper {
      .projects-container {
        margin-top: 50px;

        .row {
          .text-box {
            .hidden-image {
              width: 60%;
            }
          }
        }

        .left {
          &::before {
            width: 60%;
            left: 30%;
            bottom: -50%;
          }
        }

        .right {
          &::before {
            width: 60%;
            right: -35%;
            bottom: -50%;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .portfolio {
    .section-title {
      .background-text {
        font-size: 4.5rem;
      }
    }
  }
}

@media (max-width: 550px) {
  .portfolio {
    .section-title {
      .background-text {
        font-size: 3.8rem;
      }
    }
    .wrapper {
      .projects-container {
        .row {
          .text-box {
            .hidden-image {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .portfolio {
    .section-title {
      .background-text {
        font-size: 3.2rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .portfolio {
    .section-title {
      .background-text {
        font-size: 2.8rem;
      }
    }
  }
}

@media (max-width: 360px) {
  .portfolio {
    .section-title {
      .background-text {
        font-size: 2.4rem;
      }
    }
  }
}
