.header {
  height: 100vh;
  background-image: linear-gradient(
    rgba($color-dark, 0),
    rgba($color-dark, 1.2)
  ),
    url("../../images/young-man-freelancer-working-online-with-computer-laptop-while-sitting-with-his-cat-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  position: relative;

  .navbar .nav-item {
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba($color-dark, 0.5);
    letter-spacing: 2px;
    margin-right: 1rem;

    a {
      color: $color-light;
      font-size: 1.2rem;
      font-weight: 400;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: max-content;

    .logo_title {
      color: $color-light;
      font-size: 2.8rem;
      font-weight: 700;
      margin-bottom: 1rem;
      letter-spacing: 2px;
      margin-bottom: 30px;

      span {
        color: $color-primary;
      }
    }

    .logo_subtitle {
      color: $color-light;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }

  i {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 20px;
    color: $color-primary;
    font-size: 2rem;
    margin-top: 100px;
  }
}
