.about-me {
  .container {
    position: relative;
  }

  .wrapper {
    flex-direction: column;

    .aboutMe-container {
      display: flex;
      margin-top: 100px;

      .image {
        flex: 1;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::after {
          content: "";
          position: absolute;
          top: 55%;
          left: 55%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          border: 5px solid #cf383e;
          z-index: -1;
        }
      }

      .text {
        flex: 2;
        padding: 75px;
        margin-left: 50px;

        h3,
        p {
          color: $color-light;
        }

        h3 {
          font-size: 2.5rem;
          font-weight: $font-bold;
          margin-bottom: 25px;
        }

        p {
          line-height: 1.8;
        }
      }
    }
  }
}

.mySkills {
  margin-top: 200px;
  background-color: $color-background-darker;
  padding-bottom: 200px;

  .container {
    position: relative;
  }

  .wrapper {
    flex-direction: column;

    .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 100px;

      &::after {
        content: "";
        position: absolute;
        top: 41%;
        right: 0;
        transform: translateY(-50%);
        height: 71%;
        width: 60%;
        background-color: #cf383e;
      }

      .row {
        display: flex;
        margin-bottom: 50px;
        width: 100%;

        .pictures {
          flex: 1;
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;

          img {
            max-width: 45%;
            max-height: 45%;
            object-fit: contain;
            margin: 5px;
            z-index: 1;
            padding: 5px;
          }
        }

        .last-picture img {
          max-width: 80%;
          max-height: 80%;
          object-fit: contain;
          margin: 5px;
          z-index: 1;
          padding: 5px;
        }

        .text {
          background-color: $color-background-dark;
          flex: 3;
          padding: 50px;
          border-radius: 5px;
          z-index: 1;

          p {
            color: $color-grey;
            line-height: 2;
          }
        }
      }

      .left {
        flex-direction: row;

        .text {
          text-align: right;
        }
      }

      .right {
        flex-direction: row-reverse;

        .text {
          text-align: left;
        }
      }
    }
  }
}

.myService {
  background-image: url("../../images/shutterstock.png");
  min-height: 700px;
  position: relative;
  background-size: cover;
  padding-bottom: 100px;

  .background-text {
    color: $color-dark;
    opacity: 13%;
  }

  .container {
    position: relative;
  }

  .wrapper {
    flex-direction: column;

    .carts-container {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;

      .cart {
        background-color: $color-background-cart;
        padding: 20px;
        margin: 20px;
        flex: 1;
        border-radius: 5px;
        color: $color-light;
        display: flex;
        flex-direction: column;

        .picture {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;

          img {
            width: 60%;
            height: 60%;
            object-fit: contain;
          }
        }

        .text {
          text-align: center;
          display: flex;
          flex-direction: column;
          flex: 2;

          h3 {
            font-size: 1.5rem;
            font-weight: $font-bold;
            flex: 1;
          }

          p {
            line-height: 1.8;
            font-size: 1rem;
            flex: 2;
          }
        }
      }
    }
  }
}

.portfolio {
  background-color: $color-background-darker;
  padding-bottom: 200px;

  .container {
    position: relative;
  }

  .wrapper {
    flex-direction: column;

    .projects-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 100px;

      .row {
        display: flex;
        position: relative;
        margin-bottom: 120px;

        .image-box {
          overflow: hidden;
          transition: transform 0.5s ease-in-out;
          z-index: 1;
          max-height: 700px;
          width: 600px;
          position: relative;

          img {
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
          }

          .button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-background-dark;
            color: $color-light;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: $font-bold;
            transition: all 0.5s ease-in-out;
            z-index: 1;

            &:hover {
              background-color: $color-light;
              color: $color-dark;
            }
          }
        }
      }

      .text-box {
        flex: 2;
        padding: 40px;
        border-radius: 5px;
        background-color: $color-background-dark;
        color: $color-light;
        display: flex;
        flex-direction: column;
        max-width: 600px;
        z-index: 1;
        position: absolute;

        h3 {
          font-size: 1.3rem;
          font-weight: $font-bold;
          margin-bottom: 10px;
        }

        p {
          line-height: 1.5;
          font-size: 1rem;
        }
      }
    }

    .left {
      flex-direction: row;

      .image-box {
        margin-left: 50px;
      }

      .text-box {
        text-align: left;
        right: 15%;
        bottom: -14%;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -60%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 20%;
        height: 100%;
        background-color: #cf383e;
      }
    }

    .right {
      flex-direction: row-reverse;

      .image-box {
        margin-right: 50px;
      }

      .text-box {
        text-align: right;
        left: 15%;
        bottom: -14%;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -30%;
        right: -10%;
        transform: translate(-50%, -50%);
        width: 20%;
        height: 100%;
        background-color: #cf383e;
      }
    }
  }
}
