.mySkills {
  margin-top: 200px;
  background-color: $color-background-darker;
  padding-bottom: 200px;

  .container {
    position: relative;
  }

  .wrapper {
    flex-direction: column;

    .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 100px;

      &::after {
        content: "";
        position: absolute;
        top: 41%;
        right: 0;
        transform: translateY(-50%);
        height: 71%;
        width: 60%;
        background-color: #cf383e;
      }

      .row {
        display: flex;
        margin-bottom: 50px;
        width: 100%;

        .pictures {
          flex: 1;
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;

          img {
            max-width: 45%;
            max-height: 45%;
            object-fit: contain;
            margin: 5px;
            z-index: 1;
            padding: 5px;
          }
        }

        .last-picture img {
          max-width: 80%;
          max-height: 80%;
          object-fit: contain;
          margin: 5px;
          z-index: 1;
          padding: 5px;
        }

        .text {
          background-color: $color-background-dark;
          flex: 3;
          padding: 50px;
          border-radius: 5px;
          z-index: 1;

          p {
            color: $color-grey;
            line-height: 2;
          }
        }
      }

      .left {
        flex-direction: row;

        .text {
          text-align: right;
        }
      }

      .right {
        flex-direction: row-reverse;

        .text {
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .mySkills .wrapper .skills-container .row .pictures img {
    max-width: 30%;
    max-height: 30%;
  }
}

@media (max-width: 992px) {
  .mySkills .wrapper .skills-container .row .pictures img {
    max-width: 50%;
    max-height: 50%;
  }
}

@media (max-width: 768px) {
  .mySkills .wrapper .skills-container {
    .row {
      flex-direction: column;
      align-items: center;

      .pictures {
        align-items: center;

        img {
          max-width: 20%;
        }
      }

      .text {
        padding: 25px;
      }
    }

    &::after {
      top: 51%;
      height: 82%;
      width: 69%;
    }
  }
}
