$color-background-light: #fff;
$color-background-lighter: #f5f5f5;

$color-dark: #131313;
$color-light: #fff;
$color-primary: #cf383e;
$color-grey: #bfbfbf;
$color-red: #cf383e;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-super-bold: 900;

$font-title: "Roboto Condensed", sans-serif;
$font-main: "Cabin", sans-serif;
